body {
    width: 1360px;
    background-color: #1D2029;
}
    header {
        display: inline-block;
        width: 970px;
        margin-top: 30px;
        margin-left: calc((100% - 1000px) / 2);
        margin-bottom: 50px;
    }
    .container {
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
        margin-bottom: 50px;
        
    }
    .container2 {
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
        margin-bottom: 50px;
    }
    footer {
        display: inline-block;
        width: 970px;
        margin-left: calc((100% - 1000px) / 2);
        margin-top: 60px;
        font-size: 11px; 
        text-align: center;
    }